﻿<form id="chatform" action="">
    <input id="inputbox" />    
</form>
<div id="messages" />

@section scripts {
<script>
$(document).ready(function () {
    
        //var username = prompt('Please enter a username:');

        var uri = 'ws://10.0.1.82:65284/api/WebSocket';
        websocket = new WebSocket(uri);
    
        websocket.onopen = function () {
            $('#messages').prepend('<div>Connected.</div>');
    
            $('#chatform').submit(function (event) {
                //websocket.send($('#inputbox').val());
                $('#inputbox').val('');
                event.preventDefault();
            });
        };
    
        websocket.onerror = function (event) {
            $('#messages').prepend('<div>ERROR</div>');
        };
    
        websocket.onmessage = function (event) {
            $('#messages').prepend('<div>' + event.data + '</div>');
        };
});
</script>    
}